nav {
  background-color: white;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
  justify-content: space-between;
}

.menu a.highlight {
  color: red; /* หรือสีที่คุณต้องการ highlight */
}

.btnshow {
  display: flex;
}

@media (max-width: 1000px) {
  nav {
    justify-content: none;
  }
  .btnshow {
    display: none;
  }
}
