<div class="container justify-content-center mx-auto">
    <div class="row align-items-start">
        <div class="col" >
          <!-- <div class="container-fluid" style="width: 400px;height: 300px; background-color: green;" ></div> -->
          <img src="/assets/icons/linetoday.png" alt="">
          <p  style="max-width: 500px;">LINE TODAY</p>
          <p  style="max-width: 500px;">อัพเดตสาระ บันเทิง ข่าวทุกรูปแบบ ให้คุณทันทุกสถานการณ์</p>
          <p>LINE TODAY ศูนย์รวมข้อมูลข่าวสาร บทความ และคลิปวิดีโอที่หลากหลาย ตอบโจทย์ทุกไลฟ์สไตล์ จากสำนักข่าวและผู้ผลิตคอนเทนต์ออนไลน์ชั้นนำของประเทศ ให้เข้าถึงได้ง่าย ไว แค่กด LINE TODAY แท็บที่ 4 ในแอปพลิเคชัน LINE
            ครบ จบ ไม่ต้องโหลดแอปเพิ่ม</p>
            <div style="height: 20px;"></div>
            <button type="button" class="btn btn-outline-success">
              <!-- <div class="flex"> -->
                <!-- <i class="bi bi-box-arrow-in-up-right"></i> -->
                <p>รายละเอียด</p>
              <!-- </div> -->
            </button>
        </div>
        <div class="col mt-4" >
            <img class="" style="max-width: 500px; height: 400px;" src="/assets/images/business.jpg" alt="">         
        </div>
      </div>
</div>
