<div id="home" class="container-fluid position-relative">
    <img
      src="https://img.freepik.com/free-photo/high-angle-shot-beautiful-forest-with-lot-green-trees-enveloped-fog-new-zealand_181624-19717.jpg?w=996&t=st=1704355632~exp=1704356232~hmac=77b445ed1942d972cda150c4ed46eb3f4b0a4dd979681722de34b134674ff316"
      class="img-fluid w-100 "
      style="height: 600px"
      alt="..."
    />
    <div
      class="transform-ml position-absolute top-0 text-white"
      
    >
      <div class="textlarge">Life on LINE</div>
      <div class="textmedium">LINE - เคียงข้างคุณเสมอ</div>
      <div class="flex">
        <img src="/assets/icons/line.png" class="rounded float-start me-2" />
        <p>ดาวน์โหลด</p>
      </div>
      <div class="flex">
        <button type="button" class="iconbtn" data-mdb-ripple-color="dark">
          <img src="/assets/icons/apple.png" alt="" />
        </button>
        <button type="button" class="iconbtn" data-mdb-ripple-color="dark">
          <img src="/assets/icons/play.png" alt="" />
        </button>
        <button type="button" class="iconbtn" data-mdb-ripple-color="dark">
          <img src="/assets/icons/computer.png" alt="" />
        </button>
      </div>
    </div>
  </div>
  <div style="height: 50px;"> </div>
  <p class="text-center fs-1 fw-bold">Life on LINE</p>
  <p class="text-center">นอกเหนือจากแอพพลิเคชั่นสื่อสารและส่งข้อความ</p>
  <p class="text-center">LINE มุ่งสร้างประสบการณ์และบริการที่ช่วยให้ชีวิตประจำวันของคุณเป็นเรื่องง่ายยิ่งขึ้น</p>
  <div style="height: 50px;"> </div>